<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modal-change-password">
    <div id="modalUpdatePassword" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change Password</h5>

                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">


                    </div>

                    <form id="frmUpdatePassword" method="post">
                        <fieldset class="row g-3">
                            <div class="col-md-6">
                                <input type="hidden" class="form-control" id="idUser" name="idUser">
                                <label class="form-label">Password:</label>
                                <input type="password" class="form-control" id="passwordUp" name="passwordUp">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Confirm Password:</label>
                                <input type="password" class="form-control" id="passwordConUp" name="passwordConUp">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="closess" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnUpdatePassword" class="btn btn-outline-primary btnUpdatePassword">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Update Password
                    </button>
                </div>
            </div>
        </div>
    </div>

</th:block>