<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modal-create-product">
    <div id="modal-create-product" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm mới sản phẩm</h5>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">


                    </div>
                    <form id="frmCreateProduct" method="post">
                        <fieldset class="row g-3">
                            <div class="col-md-4">
                                <label class="form-label">Mã Sản phẩm:</label>
                                <input type="text" class="form-control"  id="productCodeCre" name="productCodeCre">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Tên Mô Hình</label>
                                <input type="text" class="form-control" id="productNameCre" name="productNameCre">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Số lượng</label>
                                <input type="text" class="form-control" id="quantityProductCre" name="quantityProductCre">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Giá tiền</label>
                                <input type="text" class="form-control" id="priceProductCre" name="priceProductCre">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Danh Mục</label>
                                <select  name="categoryCre" id="categoryCre" class="form-control">
                                    <option value="1">One Piece</option>
                                    <option value="2">DragonBall</option>
                                    <option value="3">Farytail</option>
                                    <option value="4">OnePunchMan</option>
                                    <option value="5">Doremon</option>
                                    <option value="6">Conan</option>
                                    <option value="7">Khác</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Url Ảnh:</label>
                                <input type="text" class="form-control" id="urlCre" name="urlCre">
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Description</label>
                                <input type="text" class="form-control" id="descriptionProductCre" name="descriptionProductCre">
                            </div>
                       </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="closess" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnCreate" class="btn btn-outline-primary btnCreate">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Thêm Sản Phẩm
                    </button>
                </div>
            </div>
        </div>
    </div>

</th:block>